/* content_area -> opvullen tot footer */

html,
body 
{
    font-family: Verdana;
    font-size: 12px;
    background-color: Black;
    height:100%;
    margin:0;
    padding:0;
}

#container 
{
    background-color: #F6F2E6;
    min-height:100%;
    min-width: 1200px;
    width: 100%;
    position:relative;
}

/* menubar -> menu in menu.css */

#social
{
    float: right;
    margin: 6px 50px 4px auto;    
}

#header 
{
    background-image: url('~/images/header.png');
    background-repeat: no-repeat;
    height: 263px;
    width: 1200px;
    margin: 0px auto 0px auto;
}

#content_area 
{
    background-color: #FCFCF8;
    border:1px solid #D8EDE8;
    min-height: 100%; /*hoogte om op te vullen tot footer */
    height: auto;
    width: 1000px;
    margin: 0px auto 0px auto;
    padding: 10px 10px 100px 10px;   /* Height + top/bottom padding of the footer */   
}

#footer 
{
    background-color: #03161B;
    font-size: 10px;
    text-align: center;
    color: #90B5C6;
    position:absolute;
    bottom:0;
    width:100%;
    height: 80px;   /* Height of the footer */
}

.imgLeft
{
    float: left;
    margin: 10px;
}

.imgRight
{
    float: right;
    margin: 10px;
}

.headerTitle
{
    font-size: 59px;
    font-family: Impact, Tahoma, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 1px;    
    color: #1C637D;
    margin: 0px 0px 0px 250px;
    padding: 30px 0px 0px 0px;
}

.headerSlogan
{
    font-size: 22px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;   
    color: #1C637D;
    margin: 0px 0px 0px 250px;
    padding: 0px;
}

.coffeeTable
{
    width: 750px;
    height: 250px;
    margin: 10px 10px 10px 0;
    border: 3px solid #E3E3E3;
    border-radius: 10px;
    moz-border-radius: 10px;
}

.coffeeTable tr th, .coffeeTable tr td
{
    text-align: left;
    padding: 0px 5px 0 5px;
}

.coffeeTable img
{
    padding: 0px 10px 10px 10px;
    height: 150px;
    width: 150px;
}