html
{
	height: 100%;
}

body 
{
    background-color: #F6F2E6;
    font-family: Verdana;
    font-size: 12px;
    height: 100%;
	margin: 0;
	padding: 0;	
}

form
{
    height: 100%
}

#container
{
    background-color: #F6F2E6;
    height: 100%;
    min-width: 1200px;
    width: 100%;
    position:relative;
}

/* menubar -> menu in menu.css */

#social
{
    float: right;
    margin: 6px 20px 4px auto;  
}

#header
{
    background-image: url('/images/header.png');
    background-repeat: no-repeat;
    height: 263px;
    width: 1200px;
    margin: 0px auto 0px auto;
}

#content_area 
{
    background-color: #FCFCF8;
    border: 1px solid #D8EDE8;
	/* Firefox */
    min-height: -moz-calc(100% - 375px);
    /* WebKit */
    min-height: -webkit-calc(100% - 375px);
    /* Opera */
    min-height: -o-calc(100% - 375px);
    /* Standard */
    min-height: calc(100% - 375px);
    height: auto;
    width: 1000px;
    margin: auto;
    padding: 10px;
}

#footer 
{
    background-color: #03161B;
    font-size: 10px;
    text-align: center;
    color: #90B5C6;
    width:100%;
    height: 20px;
    margin: 10px auto;
    padding: 10px 0px 10px 0px;
}

.imgLeft
{
    float: left;
    margin: 10px;
}

.imgRight
{
    float: right;
    margin: 10px;
}

.headerTitle
{
    font-size: 59px;
    font-family: Impact, Tahoma, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 1px;    
    color: #1C637D;
    margin: 0px 0px 0px 250px;
    padding: 30px 0px 0px 0px;
}

.headerSlogan
{
    font-size: 22px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;   
    color: #1C637D;
    margin: 0px 0px 0px 250px;
    padding: 0px;
}

.productsTable
{
    width: 400px;
    height: auto;
    margin: 10px auto 10px auto;    
    border: 3px solid #E3E3E3;
    border-radius: 10px;
    moz-border-radius: 10px;
}

.productsTable tr th, .productsTable tr td
{
    text-align: left;
}

.productsTable img
{
    margin: 10px;
    height: 100px;
    width: 100px;
}

.productTable
{
    width: 800px;
    height: auto;
    margin: 10px auto 10px auto;    
    border: 3px solid #E3E3E3;
    border-radius: 10px;
    moz-border-radius: 10px;
}

.productTable tr th, .productTable tr td
{
    text-align: left;
}

.productTable img
{
    margin: 10px;
    height: 100px;
    width: 100px;
}

.cartTable
{
    border: 1px solid #000;
    width: 750px;
    margin: 10px auto 10px auto;
}
.cmsIcon
{
    font-size: 10px;
    text-align: center;
    background-color: #fff;
    background-position: -30px;
    display: block;
    float: left;
    height: 97px;
    width: 108px;
    color: #565656;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition-property: background-position, -webkit-border-bottom-left-radius, -webkit-box-shadow;
    -moz-transition-property: background-position, -moz-border-radius-bottomleft, -moz-box-shadow;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    margin: 10px;
}

.cmsIcon img
{
    padding: 10px 0;
    margin: 0 auto;
}