<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!-- PayPal settings -->
    <add key ="token" value ="AqZuqu2rzux1OOF0rvqjildbqHeyAbC-deLfG-ZtKsP3JhGnmJClgL4Y"/>
    <add key ="paypalemail" value ="milanov@admin.com"/>
    <!-- Currently we use the sandbox url, in live you should replace this url with the normal paypal url. -->
    <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
    <add key="FailedURL" value="http://localhost:2880/pages/store/failed.aspx"/>
    <add key="SuccessURL" value="http://localhost:2880/pages/store/succes.aspx"/>
  </appSettings>
  
  <connectionStrings>
    <!-- Database connection settings -->
    <add name="MilanovDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MilanovDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

    <!-- Error handling settings -->
    <!--If ASP.net error 404 or 500 occurs, go to error.aspx, if you also want to catch HTTP errors you have to configure your IIS to do so. -->
    <customErrors mode ="On" redirectMode="ResponseRewrite">
      <error statusCode ="404" redirect ="~/pages/error.aspx" /> <!-- Not found. -->
      <error statusCode ="500" redirect ="~/pages/error.aspx" /> <!-- Internal server error. These HTTP status code can be caused by various server problems. -->
    </customErrors>
  </system.web>
  
  <system.net>
    <!-- E-mail settings -->
    <mailSettings>
      <smtp>
        <!-- Currently we use the free gmail smtp server services, in live you should replace this with the local smtp settings. -->
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="nhlemailtest@gmail.com" password="nhltester123"/>
      </smtp>
    </mailSettings>
  </system.net> 
</configuration>