<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="MilanovDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MilanovDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>  
  
  <system.web>
      <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="nhlemailtest@gmail.com" password="nhltester123" />  
      </smtp>
    </mailSettings>    
  </system.net>
</configuration>
